root {
  --primaryColor: #bca88e;
  --secondColor: #60665b;
  --mainWhite: #ffff;
  --mainBlack: #000000;
  --mainRed: #c45141;
  --mainGreen: #51c451;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondColor);
  color: var(--mainBlack);
}
